.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 75px;
    background: #1C2B35;
    padding: 0px 50px;
}
.header div a{
    margin-left: 30px;
    font-weight: 400;
    font-size: 1rem;
}
.header div a:hover{
    color: orangered;
}